.oneTask{
  border: 1px solid blueviolet;
  border-radius: 10px;
  padding: 8px;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 320px;
  height: 250px;
}
.button_3{
  /* display: flex; */
  justify-content: end;
}

.complete{
  text-decoration: line-through;
}