@media screen and (min-width: 992px) {
  #total-nav-item{
  position: relative;
}
.nav-item{
    margin-right: 50px;
}
#profile{
  position: absolute;
  right: 0px;
}
}


.header{
  position: sticky;
  top: 0px;
}

.nav-item{
    margin-right: 10px;
}
.nav-item :hover{
  color: crimson;
}
h6{
  color: purple;
  font-weight: 700;
  font-size: 20px;
}