.oneTask{
  border: 1px solid blueviolet;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 350px;
}

.button_3{
  justify-content: end;
}

.complete{
  text-decoration: line-through;
}

button{
  margin-right: 5px;
  margin-bottom: 5px;
}